@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Para ocultar la barra de scroll en los filtros */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}